.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .nor{
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 20px 5px;
  }
  button{
    width: 100px;
    padding: 5px;
    background-color: white;
    color: red;
    border: 1px solid red;
    outline: none;
  }
}